@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..1000,0..1,0..1,0..1&display=swap');
@tailwind base;
body {
  margin: 0;
}
@tailwind components;
@tailwind utilities;

@layer components {
  #space {
    position: relative;
    overflow: hidden;
  }

  #stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 863px 1915px #fff, 546px 495px #fff, 1445px 1808px #fff, 166px 1447px #fff, 717px 1080px #fff,
      138px 1002px #fff, 50px 1321px #fff, 910px 269px #fff, 486px 1080px #fff, 1303px 1625px #fff, 148px 1109px #fff,
      104px 769px #fff, 911px 1260px #fff, 1648px 1720px #fff, 1670px 704px #fff, 1088px 1398px #fff, 680px 1468px #fff,
      1299px 1574px #fff, 6px 610px #fff, 891px 549px #fff, 956px 216px #fff, 1801px 1471px #fff, 1652px 925px #fff,
      1393px 1557px #fff, 728px 319px #fff, 1748px 1509px #fff, 1583px 1312px #fff, 512px 256px #fff, 1536px 1152px #fff,
      1491px 996px #fff, 1428px 47px #fff, 455px 1740px #fff, 643px 1760px #fff, 96px 343px #fff, 761px 1410px #fff,
      1656px 218px #fff, 822px 1474px #fff, 1233px 1305px #fff, 1663px 1093px #fff, 1915px 417px #fff, 7px 1201px #fff,
      586px 892px #fff, 159px 108px #fff, 310px 14px #fff, 15px 1732px #fff, 1728px 1066px #fff, 1798px 1475px #fff,
      1538px 350px #fff, 1620px 93px #fff, 832px 279px #fff, 1302px 1412px #fff, 1397px 1818px #fff, 913px 1149px #fff,
      221px 1669px #fff, 1287px 340px #fff, 483px 1504px #fff, 1277px 448px #fff, 981px 1206px #fff, 1114px 776px #fff,
      346px 737px #fff, 1459px 1727px #fff, 211px 487px #fff, 103px 873px #fff, 1889px 1551px #fff, 950px 688px #fff,
      133px 1776px #fff, 950px 1550px #fff, 1292px 509px #fff, 780px 516px #fff, 403px 1952px #fff, 8px 1249px #fff,
      1969px 987px #fff, 1320px 692px #fff, 173px 850px #fff, 1284px 999px #fff, 84px 37px #fff, 342px 1900px #fff,
      649px 1347px #fff, 178px 1497px #fff, 1324px 1686px #fff, 338px 616px #fff, 975px 1929px #fff, 1964px 134px #fff,
      1691px 884px #fff, 1329px 1742px #fff, 481px 1195px #fff, 926px 1305px #fff, 22px 815px #fff, 1252px 593px #fff,
      149px 375px #fff, 360px 827px #fff, 310px 1533px #fff, 718px 147px #fff, 1885px 122px #fff, 778px 491px #fff,
      840px 757px #fff, 837px 135px #fff, 24px 3px #fff, 1133px 1031px #fff, 410px 1378px #fff, 442px 1509px #fff,
      1158px 515px #fff, 1889px 1365px #fff, 686px 1425px #fff, 923px 1523px #fff, 934px 669px #fff, 932px 1797px #fff,
      1540px 389px #fff, 1874px 1682px #fff, 178px 1730px #fff, 1664px 1160px #fff, 1523px 515px #fff,
      1047px 1434px #fff, 341px 303px #fff, 1245px 1408px #fff, 400px 1884px #fff, 1795px 1441px #fff, 1055px 619px #fff,
      352px 822px #fff, 738px 1775px #fff, 1616px 516px #fff, 1859px 685px #fff, 1709px 1924px #fff, 476px 1870px #fff,
      1417px 419px #fff, 1319px 64px #fff, 948px 1247px #fff, 460px 1179px #fff, 457px 1929px #fff, 1273px 734px #fff,
      791px 1269px #fff, 1598px 1654px #fff, 1349px 1863px #fff, 1353px 772px #fff, 1411px 1285px #fff, 1524px 47px #fff,
      1105px 410px #fff, 1236px 1746px #fff, 1513px 28px #fff, 181px 1481px #fff, 932px 1063px #fff, 1855px 248px #fff,
      1395px 1203px #fff, 149px 818px #fff, 616px 60px #fff, 711px 925px #fff, 63px 267px #fff, 1371px 1653px #fff,
      15px 1318px #fff, 248px 517px #fff, 354px 593px #fff, 1187px 667px #fff, 188px 539px #fff, 1506px 1434px #fff,
      222px 1948px #fff, 1424px 688px #fff, 1192px 638px #fff, 1285px 1763px #fff, 1156px 1830px #fff, 1369px 437px #fff,
      1827px 1427px #fff, 215px 475px #fff, 1880px 1340px #fff, 1551px 1002px #fff, 1204px 59px #fff, 926px 721px #fff,
      998px 1573px #fff, 648px 835px #fff, 925px 1052px #fff, 1589px 544px #fff, 1939px 375px #fff, 1574px 1137px #fff,
      1969px 466px #fff, 709px 296px #fff, 1186px 841px #fff, 244px 596px #fff, 1984px 552px #fff, 1946px 156px #fff,
      1106px 1656px #fff, 946px 784px #fff, 1883px 74px #fff, 518px 1646px #fff, 1541px 1763px #fff, 1057px 659px #fff,
      909px 1656px #fff, 1403px 266px #fff, 1315px 409px #fff, 1790px 81px #fff, 32px 409px #fff, 1990px 660px #fff,
      1926px 383px #fff, 1761px 667px #fff, 1810px 1359px #fff, 548px 203px #fff, 408px 325px #fff, 630px 5px #fff,
      764px 492px #fff, 1764px 1977px #fff, 723px 128px #fff, 551px 1917px #fff, 255px 1060px #fff, 1756px 1215px #fff,
      1838px 885px #fff, 366px 1296px #fff, 234px 253px #fff, 446px 83px #fff, 1277px 1607px #fff, 746px 975px #fff,
      1660px 133px #fff, 1314px 1183px #fff, 1344px 1210px #fff, 706px 1575px #fff, 471px 523px #fff, 884px 1590px #fff,
      1124px 526px #fff, 218px 209px #fff, 18px 278px #fff, 1548px 484px #fff, 603px 1356px #fff, 911px 1963px #fff,
      1652px 818px #fff, 185px 1374px #fff, 1818px 559px #fff, 513px 1900px #fff, 755px 755px #fff, 1999px 1545px #fff,
      1646px 834px #fff, 970px 1354px #fff, 721px 1602px #fff, 1550px 1650px #fff, 1029px 5px #fff, 1502px 626px #fff,
      453px 1038px #fff, 584px 727px #fff, 258px 1143px #fff, 210px 1369px #fff, 675px 221px #fff, 387px 1204px #fff,
      1586px 437px #fff, 1479px 1500px #fff, 131px 1556px #fff, 505px 1361px #fff, 1652px 148px #fff, 51px 508px #fff,
      1653px 1212px #fff, 506px 235px #fff, 1833px 1255px #fff, 608px 665px #fff, 851px 1422px #fff, 892px 181px #fff,
      894px 1063px #fff, 1233px 1833px #fff, 1167px 826px #fff, 1321px 238px #fff, 195px 328px #fff, 1767px 51px #fff,
      1434px 757px #fff, 333px 402px #fff, 380px 517px #fff, 485px 1648px #fff, 1304px 1561px #fff, 1943px 1861px #fff,
      247px 924px #fff, 1993px 322px #fff, 15px 258px #fff, 1843px 1927px #fff, 1820px 1947px #fff, 782px 785px #fff,
      1541px 1975px #fff, 40px 81px #fff, 1730px 466px #fff, 1095px 305px #fff, 1696px 813px #fff, 230px 275px #fff,
      1385px 1985px #fff, 119px 472px #fff, 694px 747px #fff, 1766px 974px #fff, 1502px 1388px #fff, 212px 544px #fff,
      572px 1395px #fff, 179px 53px #fff, 646px 1832px #fff, 1114px 899px #fff, 932px 597px #fff, 320px 296px #fff,
      1486px 1383px #fff, 1150px 1416px #fff, 1812px 1477px #fff, 247px 92px #fff, 1403px 745px #fff, 348px 1129px #fff,
      274px 1012px #fff, 1134px 1040px #fff, 249px 82px #fff, 938px 133px #fff, 671px 624px #fff, 1445px 1130px #fff,
      332px 99px #fff, 857px 1369px #fff, 836px 1605px #fff, 901px 1696px #fff, 1419px 1338px #fff, 261px 547px #fff,
      111px 963px #fff, 1721px 618px #fff, 988px 842px #fff, 248px 1573px #fff, 893px 778px #fff, 1874px 1596px #fff,
      825px 484px #fff, 166px 334px #fff, 1992px 1251px #fff, 1329px 680px #fff, 266px 882px #fff, 89px 1469px #fff,
      534px 292px #fff, 1799px 1057px #fff, 1880px 731px #fff, 164px 119px #fff, 250px 300px #fff, 407px 1798px #fff,
      573px 138px #fff, 461px 70px #fff, 1285px 712px #fff, 1571px 251px #fff, 165px 122px #fff, 864px 1135px #fff,
      1910px 1538px #fff, 450px 1017px #fff, 976px 512px #fff, 1134px 1994px #fff, 1789px 1645px #fff, 175px 1497px #fff,
      1429px 1649px #fff, 1332px 1784px #fff;
    animation: animStar 200s linear infinite;
  }
  #stars:after {
    content: ' ';
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 863px 1915px #fff, 546px 495px #fff, 1445px 1808px #fff, 166px 1447px #fff, 717px 1080px #fff,
      138px 1002px #fff, 50px 1321px #fff, 910px 269px #fff, 486px 1080px #fff, 1303px 1625px #fff, 148px 1109px #fff,
      104px 769px #fff, 911px 1260px #fff, 1648px 1720px #fff, 1670px 704px #fff, 1088px 1398px #fff, 680px 1468px #fff,
      338px 568px #fff, 592px 965px #fff, 1285px 1982px #fff, 701px 1167px #fff, 416px 545px #fff, 128px 964px #fff,
      1804px 34px #fff, 1381px 432px #fff, 1313px 109px #fff, 11px 1876px #fff, 1062px 210px #fff, 1426px 1864px #fff,
      1299px 1574px #fff, 6px 610px #fff, 891px 549px #fff, 956px 216px #fff, 1801px 1471px #fff, 1652px 925px #fff,
      133px 1776px #fff, 950px 1550px #fff, 1292px 509px #fff, 780px 516px #fff, 403px 1952px #fff, 8px 1249px #fff,
      1969px 987px #fff, 1320px 692px #fff, 173px 850px #fff, 1284px 999px #fff, 84px 37px #fff, 342px 1900px #fff,
      214px 97px #fff, 1675px 902px #fff, 354px 1783px #fff, 1072px 1856px #fff, 1111px 1256px #fff, 533px 1660px #fff,
      268px 983px #fff, 928px 1056px #fff, 1193px 1500px #fff, 1476px 63px #fff, 1313px 829px #fff, 415px 1257px #fff,
      1571px 1854px #fff, 704px 1889px #fff, 852px 991px #fff, 43px 1744px #fff, 1988px 278px #fff, 574px 490px #fff,
      649px 1347px #fff, 178px 1497px #fff, 1324px 1686px #fff, 338px 616px #fff, 975px 1929px #fff, 1964px 134px #fff,
      1691px 884px #fff, 1329px 1742px #fff, 481px 1195px #fff, 926px 1305px #fff, 22px 815px #fff, 1252px 593px #fff,
      149px 375px #fff, 360px 827px #fff, 310px 1533px #fff, 718px 147px #fff, 1885px 122px #fff, 778px 491px #fff,
      185px 1288px #fff, 278px 581px #fff, 987px 387px #fff, 418px 1364px #fff, 1700px 983px #fff, 388px 1901px #fff,
      276px 53px #fff, 598px 1677px #fff, 152px 225px #fff, 215px 1776px #fff, 1825px 3px #fff, 110px 1188px #fff,
      282px 1932px #fff, 518px 59px #fff, 714px 1078px #fff, 1922px 1350px #fff, 790px 1930px #fff, 563px 225px #fff,
      789px 1675px #fff, 1458px 16px #fff, 505px 1900px #fff, 831px 989px #fff, 960px 1294px #fff, 1296px 1096px #fff,
      1405px 245px #fff, 1656px 194px #fff, 1317px 86px #fff, 901px 1571px #fff, 576px 1295px #fff, 1774px 1933px #fff,
      1222px 557px #fff, 475px 1174px #fff, 785px 1447px #fff, 754px 1836px #fff, 1157px 340px #fff, 1945px 1830px #fff,
      791px 1269px #fff, 1598px 1654px #fff, 1349px 1863px #fff, 1353px 772px #fff, 1411px 1285px #fff, 1524px 47px #fff,
      1105px 410px #fff, 1236px 1746px #fff, 1513px 28px #fff, 181px 1481px #fff, 932px 1063px #fff, 1855px 248px #fff,
      1395px 1203px #fff, 149px 818px #fff, 616px 60px #fff, 711px 925px #fff, 63px 267px #fff, 1371px 1653px #fff,
      1333px 103px #fff, 587px 536px #fff, 1417px 1961px #fff, 243px 750px #fff, 589px 61px #fff, 1320px 1977px #fff,
      1235px 38px #fff, 1739px 1690px #fff, 1269px 590px #fff, 25px 796px #fff, 629px 1080px #fff, 1626px 1648px #fff,
      1237px 650px #fff, 1081px 1099px #fff, 515px 1145px #fff, 151px 1891px #fff, 293px 340px #fff, 1046px 144px #fff,
      503px 1220px #fff, 724px 1264px #fff, 415px 1363px #fff, 28px 1675px #fff, 718px 842px #fff, 1529px 492px #fff,
      1514px 1117px #fff, 1221px 391px #fff, 1660px 1199px #fff, 1846px 1669px #fff, 555px 557px #fff,
      1531px 1065px #fff, 1211px 1354px #fff, 308px 1047px #fff, 553px 1388px #fff, 810px 414px #fff, 993px 893px #fff,
      182px 1794px #fff, 451px 867px #fff, 1559px 1980px #fff, 1073px 9px #fff, 950px 1816px #fff, 1441px 1307px #fff,
      1431px 1449px #fff, 1886px 1671px #fff, 1711px 193px #fff, 896px 1873px #fff, 662px 255px #fff, 1685px 545px #fff,
      1953px 21px #fff, 1999px 218px #fff, 1560px 1578px #fff, 1759px 773px #fff, 1448px 321px #fff, 1535px 1499px #fff,
      1231px 616px #fff, 1948px 1910px #fff, 450px 892px #fff, 500px 903px #fff, 197px 561px #fff, 1327px 935px #fff,
      941px 1018px #fff, 276px 788px #fff, 1051px 1836px #fff, 326px 435px #fff, 819px 722px #fff, 1846px 732px #fff,
      1385px 1250px #fff, 1288px 840px #fff, 1014px 1371px #fff, 387px 356px #fff, 577px 107px #fff, 1137px 1948px #fff,
      1967px 991px #fff, 1351px 111px #fff, 717px 222px #fff, 1587px 1492px #fff, 1946px 515px #fff, 1801px 763px #fff,
      749px 1027px #fff, 1928px 951px #fff, 500px 1074px #fff, 1056px 1338px #fff, 1523px 1682px #fff, 248px 1157px #fff,
      1446px 546px #fff, 722px 643px #fff, 412px 1337px #fff, 724px 434px #fff, 1609px 1260px #fff, 1322px 291px #fff,
      1941px 157px #fff, 1439px 1371px #fff, 1097px 698px #fff, 166px 104px #fff, 1083px 864px #fff, 850px 1660px #fff,
      1586px 437px #fff, 1479px 1500px #fff, 131px 1556px #fff, 505px 1361px #fff, 1652px 148px #fff, 51px 508px #fff,
      1205px 1921px #fff, 1157px 1033px #fff, 517px 1192px #fff, 843px 789px #fff, 586px 1547px #fff, 89px 88px #fff,
      851px 588px #fff, 1647px 789px #fff, 617px 1199px #fff, 1430px 843px #fff, 1246px 642px #fff, 165px 1456px #fff,
      65px 994px #fff, 1096px 1763px #fff, 1322px 779px #fff, 926px 71px #fff, 1597px 1486px #fff, 1551px 1120px #fff,
      1468px 1057px #fff, 593px 1758px #fff, 51px 1045px #fff, 874px 266px #fff, 1357px 1806px #fff, 227px 1313px #fff,
      959px 1253px #fff, 388px 802px #fff, 392px 9px #fff, 1246px 1943px #fff, 824px 430px #fff, 350px 210px #fff,
      1434px 1272px #fff, 114px 685px #fff, 449px 171px #fff, 1953px 1679px #fff, 432px 1941px #fff, 481px 576px #fff,
      1820px 198px #fff, 20px 1582px #fff, 555px 1623px #fff, 987px 994px #fff, 1268px 1107px #fff, 877px 1751px #fff,
      111px 963px #fff, 1721px 618px #fff, 988px 842px #fff, 248px 1573px #fff, 893px 778px #fff, 1874px 1596px #fff,
      573px 138px #fff, 461px 70px #fff, 1285px 712px #fff, 1571px 251px #fff, 165px 122px #fff, 864px 1135px #fff,
      1910px 1538px #fff, 450px 1017px #fff, 976px 512px #fff, 1134px 1994px #fff, 1789px 1645px #fff, 175px 1497px #fff,
      1429px 1649px #fff, 1332px 1784px #fff;
  }

  #stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1800px 427px #fff, 1552px 1607px #fff, 33px 560px #fff, 760px 1396px #fff, 1352px 25px #fff,
      1572px 595px #fff, 787px 1635px #fff, 51px 656px #fff, 1289px 1559px #fff, 1995px 637px #fff, 1933px 671px #fff,
      1173px 1827px #fff, 1605px 45px #fff, 553px 1032px #fff, 859px 220px #fff, 279px 1819px #fff, 1712px 208px #fff,
      1196px 988px #fff, 274px 921px #fff, 1891px 171px #fff, 809px 269px #fff, 1160px 1554px #fff, 1937px 909px #fff,
      529px 921px #fff, 948px 1067px #fff, 997px 305px #fff, 2000px 1437px #fff, 1357px 1668px #fff, 1336px 997px #fff,
      1709px 1546px #fff, 1535px 1925px #fff, 979px 1717px #fff, 807px 1979px #fff, 1970px 861px #fff, 407px 948px #fff,
      816px 1726px #fff, 781px 707px #fff, 1310px 1647px #fff, 1279px 696px #fff, 1351px 944px #fff, 1012px 1134px #fff,
      1968px 1822px #fff, 87px 507px #fff, 860px 1857px #fff, 395px 1310px #fff, 1963px 605px #fff, 1506px 1193px #fff,
      1265px 640px #fff, 1424px 588px #fff, 583px 966px #fff, 606px 453px #fff, 1321px 1165px #fff, 8px 94px #fff,
      556px 1703px #fff, 1360px 1604px #fff, 394px 757px #fff, 1019px 675px #fff, 1633px 1749px #fff, 390px 1902px #fff,
      1400px 1823px #fff, 215px 259px #fff, 1808px 1144px #fff, 1471px 712px #fff, 1878px 877px #fff, 1739px 690px #fff,
      1984px 530px #fff, 1034px 847px #fff, 271px 70px #fff, 21px 1625px #fff, 509px 47px #fff, 1588px 1333px #fff,
      16px 611px #fff, 1965px 1679px #fff, 1261px 1453px #fff, 1127px 777px #fff, 1853px 902px #fff, 1547px 579px #fff,
      516px 1784px #fff, 1569px 1357px #fff, 102px 1538px #fff, 788px 1287px #fff, 1402px 742px #fff, 199px 14px #fff,
      1843px 500px #fff, 1073px 412px #fff, 422px 1632px #fff, 606px 933px #fff, 1841px 1995px #fff, 1223px 1581px #fff,
      1044px 347px #fff, 44px 1088px #fff, 297px 1422px #fff, 558px 518px #fff, 311px 1709px #fff, 491px 216px #fff,
      1925px 972px #fff, 544px 1077px #fff, 625px 832px #fff, 1754px 1132px #fff, 691px 840px #fff, 370px 1878px #fff,
      1108px 506px #fff, 1659px 270px #fff, 586px 1910px #fff, 1121px 282px #fff, 618px 436px #fff, 1318px 1240px #fff,
      1780px 454px #fff, 912px 275px #fff, 414px 727px #fff, 1765px 50px #fff, 750px 471px #fff, 1284px 938px #fff;
    animation: animStar 600s linear infinite;
  }
  #stars2:after {
    content: ' ';
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1800px 427px #fff, 1552px 1607px #fff, 33px 560px #fff, 760px 1396px #fff, 1352px 25px #fff,
      1572px 595px #fff, 787px 1635px #fff, 51px 656px #fff, 1289px 1559px #fff, 1995px 637px #fff, 1933px 671px #fff,
      1173px 1827px #fff, 1605px 45px #fff, 553px 1032px #fff, 859px 220px #fff, 279px 1819px #fff, 1712px 208px #fff,
      1709px 1546px #fff, 1535px 1925px #fff, 979px 1717px #fff, 807px 1979px #fff, 1970px 861px #fff, 407px 948px #fff,
      816px 1726px #fff, 781px 707px #fff, 1310px 1647px #fff, 1279px 696px #fff, 1351px 944px #fff, 1012px 1134px #fff,
      1968px 1822px #fff, 87px 507px #fff, 860px 1857px #fff, 395px 1310px #fff, 1963px 605px #fff, 1506px 1193px #fff,
      1265px 640px #fff, 1424px 588px #fff, 583px 966px #fff, 606px 453px #fff, 1321px 1165px #fff, 8px 94px #fff,
      556px 1703px #fff, 1360px 1604px #fff, 394px 757px #fff, 1019px 675px #fff, 1633px 1749px #fff, 390px 1902px #fff,
      1400px 1823px #fff, 215px 259px #fff, 1808px 1144px #fff, 1471px 712px #fff, 1878px 877px #fff, 1739px 690px #fff,
      1984px 530px #fff, 1034px 847px #fff, 271px 70px #fff, 21px 1625px #fff, 509px 47px #fff, 1588px 1333px #fff,
      1927px 1440px #fff, 610px 119px #fff, 1667px 1261px #fff, 454px 1630px #fff, 188px 369px #fff, 1348px 1580px #fff,
      955px 238px #fff, 836px 1908px #fff, 826px 1008px #fff, 1357px 695px #fff, 729px 1535px #fff, 1705px 532px #fff,
      1689px 250px #fff, 990px 1035px #fff, 1303px 537px #fff, 248px 1021px #fff, 920px 1887px #fff, 630px 666px #fff,
      995px 531px #fff, 426px 818px #fff, 1886px 163px #fff, 1513px 193px #fff, 583px 1918px #fff, 1229px 467px #fff,
      78px 234px #fff, 974px 352px #fff, 709px 1285px #fff, 1370px 1413px #fff, 315px 239px #fff, 877px 953px #fff,
      750px 1371px #fff, 947px 1629px #fff, 650px 1821px #fff, 243px 974px #fff, 823px 1405px #fff, 157px 456px #fff,
      1108px 506px #fff, 1659px 270px #fff, 586px 1910px #fff, 1121px 282px #fff, 618px 436px #fff, 1318px 1240px #fff;
  }

  #stars3 {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1644px 1120px #fff, 71px 1059px #fff, 936px 1694px #fff, 946px 139px #fff, 270px 940px #fff,
      625px 398px #fff, 1624px 1137px #fff, 48px 1537px #fff, 1648px 1038px #fff, 920px 1110px #fff, 1426px 814px #fff,
      144px 854px #fff, 820px 1860px #fff, 150px 203px #fff, 964px 1121px #fff, 133px 411px #fff, 1182px 1066px #fff,
      1513px 48px #fff, 1613px 1856px #fff, 1221px 1844px #fff, 788px 791px #fff, 554px 965px #fff, 1670px 493px #fff,
      883px 946px #fff, 1919px 1619px #fff, 38px 349px #fff, 10px 849px #fff, 1586px 1240px #fff, 555px 1150px #fff,
      1241px 1539px #fff, 1757px 1790px #fff, 1793px 1548px #fff, 1531px 1291px #fff, 1099px 1642px #fff,
      713px 1280px #fff, 1128px 1853px #fff, 1060px 55px #fff, 1818px 1219px #fff, 103px 1233px #fff, 984px 1304px #fff,
      1578px 1594px #fff, 3px 1864px #fff, 556px 1708px #fff, 572px 791px #fff, 225px 541px #fff, 708px 1376px #fff,
      1657px 319px #fff, 259px 1376px #fff, 1997px 200px #fff, 1521px 148px #fff, 1941px 963px #fff, 43px 1047px #fff,
      454px 1686px #fff, 236px 48px #fff, 738px 1219px #fff, 748px 381px #fff, 1779px 9px #fff, 1395px 1679px #fff,
      1976px 1026px #fff, 504px 853px #fff, 1796px 727px #fff, 1950px 236px #fff, 739px 298px #fff, 1077px 485px #fff,
      1077px 1062px #fff, 1336px 1036px #fff, 608px 1654px #fff, 767px 1405px #fff, 1070px 1178px #fff;
    animation: animStar 600s linear infinite;
  }
  #stars3:after {
    content: ' ';
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1644px 1120px #fff, 71px 1059px #fff, 936px 1694px #fff, 946px 139px #fff, 270px 940px #fff,
      625px 398px #fff, 1624px 1137px #fff, 48px 1537px #fff, 1648px 1038px #fff, 920px 1110px #fff, 1426px 814px #fff,
      144px 854px #fff, 820px 1860px #fff, 150px 203px #fff, 964px 1121px #fff, 133px 411px #fff, 1182px 1066px #fff,
      1513px 48px #fff, 1613px 1856px #fff, 1221px 1844px #fff, 788px 791px #fff, 554px 965px #fff, 1670px 493px #fff,
      883px 946px #fff, 1919px 1619px #fff, 38px 349px #fff, 10px 849px #fff, 1586px 1240px #fff, 555px 1150px #fff,
      1241px 1539px #fff, 1757px 1790px #fff, 1793px 1548px #fff, 1531px 1291px #fff, 1099px 1642px #fff,
      713px 1280px #fff, 1128px 1853px #fff, 1060px 55px #fff, 1818px 1219px #fff, 103px 1233px #fff, 984px 1304px #fff,
      1578px 1594px #fff, 3px 1864px #fff, 556px 1708px #fff, 572px 791px #fff, 225px 541px #fff, 708px 1376px #fff,
      1657px 319px #fff, 259px 1376px #fff, 1997px 200px #fff, 1521px 148px #fff, 1941px 963px #fff, 43px 1047px #fff,
      454px 1686px #fff, 236px 48px #fff, 738px 1219px #fff, 748px 381px #fff, 1779px 9px #fff, 1395px 1679px #fff,
      1976px 1026px #fff, 504px 853px #fff, 1796px 727px #fff, 1950px 236px #fff, 739px 298px #fff, 1077px 485px #fff,
      1077px 1062px #fff, 1336px 1036px #fff, 608px 1654px #fff, 767px 1405px #fff, 1070px 1178px #fff,
      1906px 1450px #fff, 1444px 1894px #fff, 796px 1426px #fff, 1527px 497px #fff, 1221px 1299px #fff,
      232px 1134px #fff, 1243px 1819px #fff, 1119px 920px #fff, 1496px 1752px #fff, 1406px 1566px #fff, 639px 287px #fff,
      1067px 1689px #fff, 1849px 605px #fff, 1312px 198px #fff, 180px 1487px #fff, 945px 394px #fff, 816px 676px #fff,
      1177px 443px #fff, 1819px 511px #fff, 654px 1640px #fff, 1239px 1523px #fff, 1082px 1238px #fff, 706px 1066px #fff,
      652px 1061px #fff, 1616px 679px #fff, 1881px 352px #fff, 1826px 202px #fff, 548px 1960px #fff, 476px 1524px #fff,
      1622px 674px #fff, 652px 1862px #fff;
  }

  @keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-2000px);
    }
  }
}

@layer utilities {
  .filter-gray {
    filter: blur(1px) grayscale(61%) saturate(2) sepia(0.2);
  }
  .font-cursive {
    --CRSV: 1;
  }
  .font-casual {
    --CASL: 1;
  }
  .font-mono {
    --MONO: 1;
  }
  .font-slant-1 {
    --slnt: -12;
  }
  .text-legible {
    max-width: 80ch;
  }
  .w-95pct {
    width: 95%;
  }
  .w-90pct {
    width: 90%;
  }
  .w-80pct {
    width: 80%;
  }
  .w-50pct {
    width: 50%;
  }
  @responsive {
    .text-xs {
      font-size: 0.75em;
      line-height: 2.17em;
      padding-top: 0.75em;
      margin-bottom: 1.42em;
    }
    .text-sm {
      font-size: 0.875em;
      line-height: 1.86em;
      padding-top: 0.571em;
      margin-bottom: 1.29em;
    }
    .text-base {
      font-size: 1em;
      line-height: 1.63em;
      padding-top: 0.5em;
      margin-bottom: 1.13em;
    }
    .text-lg {
      font-size: 1.13em;
      line-height: 1.44em;
      padding-top: 0.389em;
      margin-bottom: 1.06em;
    }
    .text-xl {
      font-size: 1.25em;
      line-height: 1.3em;
      padding-top: 0.3em;
      margin-bottom: 1em;
    }
    .text-2xl {
      font-size: 1.5em;
      line-height: 1.08em;
      padding-top: 0.208em;
      margin-bottom: 0.875em;
    }
    .text-3xl {
      font-size: 1.88em;
      line-height: 1.73em;
      padding-top: 0.533em;
      margin-bottom: 0.333em;
    }
    .text-4xl {
      font-size: 2.25em;
      line-height: 1.44em;
      padding-top: 0.389em;
      margin-bottom: 0.333em;
    }
    .text-5xl {
      font-size: 3em;
      line-height: 1.08em;
      padding-top: 0.208em;
      margin-bottom: 0.333em;
    }
    .text-6xl {
      font-size: 3.75em;
      line-height: 1em;
      padding-top: 0.5em;
      margin-bottom: 1.13em;
    }
    .text-7xl {
      font-size: 4.5em;
      line-height: 1.08em;
      padding-top: 0.208em;
      margin-bottom: 0.153em;
    }
    .text-8xl {
      font-size: 6em;
      line-height: 1.08em;
      padding-top: 0.198em;
      margin-bottom: 0.0729em;
    }
    .text-9xl {
      font-size: 8em;
      line-height: 1.02em;
      padding-top: 0.164em;
      margin-bottom: 0.0391em;
    }
  }
  .vr-debug {
    background-image: linear-gradient(to bottom, rgb(32, 130, 225) 1px, transparent 1px);
    background-size: 100% 26px;
  }
  .vr-debug *:hover {
    @apply bg-opacity-25;
  }
}

@layer base {
  :root {
    /* Start with axis defaults. Exclude weight, which is better controlled via the usual font-weight CSS property */
    --MONO: 0; /* Monospace    */
    --CASL: 0; /* Casual       */
    --slnt: 0; /* Upright      */
    --CRSV: 0; /* Auto Cursive */
    --vr-baseline: 1.6;
  }
  *,
  *:before,
  *:after {
    line-height: 1.63em;
    font-variation-settings: 'MONO' var(--MONO), 'CASL' var(--CASL), 'slnt' var(--slnt), 'CRSV' var(--CRSV);
  }
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

  html {
    @apply font-crimson;
    font-size: 16px;
    line-height: var(--vr-baseline);
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-recursive;
  }

  h1 {
    font-size: 3.19em;
    line-height: 1.02em;
    padding-top: 0.176em;
    margin-bottom: 0.333em;
  }

  h2 {
    font-size: 2.38em;
    line-height: 1.37em;
    padding-top: 0.342em;
    margin-bottom: 0.342em;
  }

  h3 {
    font-size: 1.75em;
    line-height: 1.86em;
    padding-top: 0.571em;
    margin-bottom: 0.357em;
  }

  h4 {
    font-size: 1.44em;
    line-height: 1.13em;
    padding-top: 0.217em;
    margin-bottom: 0.913em;
  }

  p {
    font-size: 1em;
    line-height: 1.63em;
    padding-top: 0.5em;
    margin-bottom: 1.13em;
  }

  a {
    @apply cursor-pointer;
  }
}
